/* Site Stylesheet  
  1. Universal Styling  
  2. Typography Styles
  3. Navigation Bar 
  4. Home Page
  5. Contact
  6. Footer
======================================== */

:root { 
    --color-white: #ffffff; 
    --color-black: #000; 
    --brand-burgundy: #6E0A1F;
    --brand-yellow:  #FFD90D;
    --brand-grey: #282828;
    --font-body: 'Inter'; 
    --font-heading: 'Bebas Neue'; 
}

/* 1. Universal Styling 
======================================== */
* { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
}

.portfolio-homepage { 
    background-color: var(--brand-grey); 
    font-family: var(--font-body) , sans-serif; 
}

html { 
    font-size: 16px; 
}

.portfolio-homepage section { 
    display: flex;
    justify-content: center;
}

footer { 
    font-family: var(--font-body), sans-serif; 
}


/* 2. Typography Styles
======================================== */

.portfolio-homepage h1 { 
    font-size: 8rem;
    color: var(--brand-yellow); 
    font-family: var(--font-heading), sans-serif;
}

.portfolio-homepage h2 { 
    font-size: 4rem; 
    color: var(--brand-yellow); 
}

.portfolio-homepage h3 { 
    font-size: 2.25rem;
    color: var(--color-white); 
    font-weight: 300;
}

.portfolio-homepage p { 
    font-size: 1.625rem;
    color: var(--color-white);
}

/* 3. Navigation Bar 
======================================== */
header { 
    width: 100%; 
    z-index: 1;
    /* position: sticky;  
    top: 0;  */
    font-family: 'Inter', sans-serif; 
}

.navbar { 
    background-color: var(--brand-yellow); 
    color: var(--color-black); 
    display: flex;
    font-size: 1.5rem;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

.logo { 
    height: 7.5rem;
}


.mainMenu { 
    display: flex;
    list-style-type: none;
}

.mainMenu .list-item { 
    display: inline-block;
    padding: 1.25rem 0.625rem; 
}

.navbar a { 
    color: var(--color-black);
    text-decoration: none;
}

.navbar a:hover { 
    color: var(--brand-burgundy); 
    font-weight: 600;
}


.navbar .openMenu, .navbar-2 .openMenu { 
    font-size: 2rem;
    margin: 1.25rem; 
    display: none;
    cursor: pointer;
}

.navbar .mainMenu .closeMenu, .navbar-2 .mainMenu .closeMenu { 
    font-size: 2rem; 
    display: none;
    cursor: pointer; 
}


/* 4. Home Page
======================================== */
/* Introduction */
.intro-container { 
    display: flex;
    align-items: center;
    text-align: left;
}

.intro__text { 
    padding: 3.75rem 0.9375rem;
}

.intro__text h1 { 
    font-size: 4rem; 
}

.intro__text h2 {
    font-size: 2rem; 
    font-weight: normal;

    margin: 0.3125rem;  
    color: var(--color-white); 
}

.intro__text p { 
    font-size: 1.5rem; 
    margin-top: 1.25rem; 
}

.intro__text p > span { 
    color: var(--brand-yellow); 
}

.intro__text p > strong { 
    color: var(--color-white); 
    font-weight: 600;
}

.intro__img { 
    padding: 3.125rem 0; 
}

.intro__img img { 
  height: auto; 
  width: 28.75rem; 
  border-radius: 15px;
}


/* Projects Display */
.display__text { 
    color: var(--color-white); 
    padding-top: 0.9375rem;
    font-weight: 100;
    font-size: 1.2rem;
    position: relative; 
    right: 25rem; 
}

 .display__text::before { 
    content: " "; 
    display: inline-block;
    width: 1.875rem; 
    height: 1px; 
    vertical-align: top;
    margin-top: 0.6875rem; 
    margin-right: 0.625rem; 
    background: var(--color-white);
}

.card-container { 
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    width: 100%; 
}

.card { 
    background-color: #000;
    display: flex;
    border-radius: 1.875rem; 

    margin: 1.75rem auto; 
    width: 62.5rem; 
    padding: 2.5rem; 
} 

.card-contents { 
    display: flex;
    flex-direction: row;
}

.card-item--visual { 
    display: block; 
    margin: 0 auto; 
}

.card-item--visual a > img { 
    height: auto; 
    width: 20rem;
    margin: 0 auto; 
}

.card-item--text { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    color: var(--color-white); 
    line-height: 3.125rem; 
    

    padding: 2rem 4rem; 
    text-align: left;
}

.card-item--text h2 { 
    font-size: 2.25rem;
}

.card-item--text p { 
    padding: 0.625rem 0; 
    font-size: 1.625rem;
    line-height: 2rem; 
    font-weight: 400; ;
}

.card-item--text .project-type { 
    font-weight: bold; 
    font-size: 1rem;
}

 .btn { 
   background-color: var(--brand-yellow);
   color: var(--color-black); 
   text-decoration: none;
   border-radius: 0.5rem;
   padding: 1rem 2rem; 
   font-weight: 600; 
} 

.btn:any-link { 
    color: var(--color-black); 
    text-decoration: none;
}

.card:not(.card-unavailable) .card-item .btn:hover { 
    background-color: var(--brand-burgundy);
    color: var(--brand-yellow); 
}

/* Styles for Unavailable Projects */ 
div.card-unavailable .card-item--visual img, 
div.card-unavailable .card-item--text .btn { 
    filter: brightness(50%);
}



/* Site-Footer */
footer {
    width: 100%;
    display: grid;
    grid-template-rows: 0px 2fr 1fr;
    justify-content: center;
    align-content: space-evenly;
    row-gap: 1rem;
}

.footer-separator { 
    border-color: var(--brand-yellow);
    width: 45vw; 
    max-width: 927px;
    min-width: 200px;
    height: 1px; 
    margin: 0 auto; 
}

.footer-list { 
    display: inline-flex;
    justify-content: center;
    grid-row: 2 / span 1;
}

.footer-list .list-item{ 
    padding: 0px;  
    margin: 0.625rem 0.3125rem; 
    list-style-type: none;
}

.social-icon { 
    color: var(--brand-yellow);
    height: 3.75rem; 
}

.footer-text { 
    text-align: center; 
    color: var(--color-white); 
    font-size: .75rem; 
    position: relative;
    bottom: 0.95rem;
    grid-row: 3 / span 1; 

} 
/* 5. Project Page Styling
======================================== */
/* Project Page Navigation Bar*/
.project-nav { 
    background-color: transparent; 
    color: var(--brand-yellow);
    display: flex;
    font-size: 1.5rem;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}


.project-nav a { 
    color: var(--brand-yellow);
    text-decoration: none;
}

.project-nav a:hover { 
    color: var(--color-white);
    font-weight: 600;
}

.project-nav  .openMenu { 
    font-size: 2rem;
    margin: 1.25rem; 
    display: none;
    cursor: pointer;
}

.project-nav .mainMenu .closeMenu { 
    font-size: 2rem; 
    display: none;
    cursor: pointer; 
}

.project-hero { 
    height: 100vh;  
    width:  100%; 

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 9, 0.8)), url("/resources/images/nujabes-large-image.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
    
.project-hero__text { 
    display: block; 
    text-align: center;
}

.arrow { 
    margin-bottom: 130px;
}


/* Project Page Section*/
.project-section { 
    display: flex;
    width: 100%;
     align-items: center;
    justify-content: center;
}

.project-section__wrapper { 
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;

 width: 1200px; 
 margin-top: 83px;
}

.project-section h1 { 
    color: black;
    font-size: 72px;
}

.project-section h2 { 
    color: black;
    font-size: 36px;
}

.project-section p { 
    color: black;
    font-size: 26px;
}

.project-section ul li { 
    font-size: 26px;
    margin-left: 50px; 
} 

.bold { 
    font-weight: 600;
}

div.separator { 
    content: " "; 
    width: 400px; 
    height: 2px; 
    vertical-align: top;
    margin: 11px auto 0 auto; 
    background: #FFD90D;
}


/* 6. Responsive CSS 
======================================== */
@media all and (max-width: 658px) { 

    /* Responsive Navgation Bar Homepage*/ 
    header { 
        width: 100%; 
        z-index: 1;
        position: sticky; 
        top: 0; 
    }

    .navbar, .project-nav{ 
        flex-direction: row;
    }

    .navbar > div, .project-nav > div {
        padding: 0.625rem 0rem; 
    }

    .logo { 
        height: 4.0625rem;
    }

    .navbar .mainMenu { 
        height: 100vh; 
        position: fixed;
        top: 0; 
        right: 0;
        left: 0; 
        z-index: 10; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #FFD90D;
        transition: top 1s ease 0s;
    

        display: none;
        font-size: 2.5rem;
    }

    .navbar .mainMenu .closeMenu { 
        display: block;
        position: absolute;
        top: 1.25rem; 
        right: 1.25rem; 

    }

    .navbar .openMenu { 
        display: block;
        position: absolute;
        right: 0.9375rem ; 
        top: -0.375rem; 
    }

    .navbar .mainMenu .list-item a:hover { 
        background: none;
        color: #6E0A1F;
        font-size: 2.5rem;
    }

    /* Responsive Navgation Bar Project Page*/ 
    .project-nav .mainMenu { 
        height: 100vh; 
        position: fixed;
        top: 0; 
        right: 0;
        left: 0; 
        z-index: 10; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #282828;
        transition: top 1s ease 0s;
        display: none;
        font-size: 2.5rem;
    }

    .project-nav .mainMenu .list-item a:hover { 
        background: none;
        color: #fff;
        font-size: 2.5rem;
    }
  
}

/* Responsive Home Page Content*/ 
@media only screen and (max-width: 1225px)  {

    .intro-container { 
        align-items: center;
        flex-direction: column;
    }

    .intro__text { 
        padding-bottom: 1.875rem;
    }

    .intro__img { 
        display: none;
    }

    .intro__text h1 { 
        font-size: 5.25rem; 
    }
    
    .intro__text h2 {
        font-size: 2.4rem; 
        margin: 0; /* random margin:5 without this don't get why*/
    }
    
    .intro__text p { 
        font-size: 1.5rem; 
    }

    .display__text { 
        font-size: 1.2rem;
        right: 22rem; 
    }

    .card { 
        margin: 3rem auto;
        width: 39.5rem; 
        padding: 2.5rem; 
         position: relative;
    }


    .card a::before { 
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
}

    .card-contents { 
        flex-direction: column;
    
    }

    .card-item--visual a > img { 
        width: 100%; 
        margin: 0 auto; 
    }

    .card-item--text { 
        width: 100%;
        height: 100%;
        padding: 1rem 1rem; 
        line-height: 3.125rem; 
        text-align: left;
    }

    .card-item--text h2 { 
        font-size: 2.25rem;
    }
    
    .card-item--text p { 
        font-size: 1.625rem;
    }
    
    .card-item--text .project-type { 
        font-size: 1.3rem;
    }
    
    .btn { 
     display: none; 
   } 
}


@media only screen and (max-width: 952px) {

    .intro__text { 
        padding: 3.75rem 1.95rem 2rem 1.95rem; 
    }


    .intro__text h1 { 
        font-size: 5rem; 
    }
    
    .intro__text h2 {
        font-size: 2.375rem; 
        margin: 0; 
    }
    
    .intro__text p { 
        font-size: 1.3rem; 
    }

    .display__text { 
        right: 20rem; 
    }

    .card { 
        margin: 3rem auto;
        width: 33.5rem; 
        padding: 2.5rem; 
    }
} 


@media only screen and (max-width: 909px) {

    .intro__text h1 { 
        font-size: 4.75rem; 
    }
    
    .intro__text h2 {
        font-size: 2.025rem; 
        margin: 0; 
    }
    
    .intro__text p { 
        font-size: 1.3rem; 
    }

    .display__text { 
        right: 19rem; 
    }

    .card { 
        margin: 3rem auto;
        width: 32.5rem; 
        padding: 2.5rem; 
    }

    .card-item--text { 
        width: 100%;
        padding: 1rem 1rem; 
        line-height: 3.125rem; 
        text-align: center;
    }

    .card-item--text h2 { 
        font-size: 2rem;
    }
    
    .card-item--text p { 
        font-size: 1.6rem;
    }
    
    .card-item--text .project-type { 
        font-size: 1.25rem;
    }
} 

@media only screen and (max-width: 867px) {
    .intro__text h1 { 
        font-size: 4.5rem; 
    }

    .display__text { 
        right: 18rem; 
        font-size: 1.155rem;
    }
} 


@media only screen and (max-width: 841px) {
    .intro__text h1 { 
        font-size: 4.25rem; 
    }

    .display__text::before { 
        width: 1.86rem; 
    }

    .display__text { 
        right: 16.58rem; 
    }
}


@media only screen and (max-width: 825px) {
    .intro__text h1 { 
        font-size: 4.2rem; 
    }
    .display__text { 
        right: 16.35rem; 
        font-size: 1.165rem;
    }
}

@media only screen and (max-width: 806px) {
    .intro__text h1 { 
        font-size: 4.15rem; 
    }
    
    .intro__text h2 {
        font-size: 1.85rem; 
        margin: 0; 
    }

    .display__text { 
        right: 16rem; 
    }

    .card { 
        width: 32rem; 
    }

    .card-item--text h2 { 
        font-size: 2rem;
    }
    
    .card-item--text p { 
        font-size: 1.6rem;
    }
    
    .card-item--text .project-type { 
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 788px) {
    .display__text { 
        right: 16rem; 
        font-size: 1.135rem;
    }

    .card { 
        width: 31.75rem; 
    }

    .card-item--text { 
        line-height: 3.125rem; 
    }

    .card-item--text h2 { 
        font-size: 2rem;
    }
    
    .card-item--text p { 
        font-size: 1.6rem;
    }
    
    .card-item--text .project-type { 
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 770px) {
    .intro__text h1 { 
        font-size: 4rem; 
    }
    
    .intro__text h2 {
        font-size: 1.75rem; 
        margin: 0; 
    }

    .display__text { 
        right: 16rem; 
        font-size: 1.135rem;
    }

    .card { 
        width: 28.75rem; 
    }
    .card-item--text h2 { 
        font-size: 2rem;
    }
    
    .card-item--text p { 
        font-size: 1.6rem;
    }
    
    .card-item--text .project-type { 
        font-size: 1.25rem;
    }
}


@media only screen and (max-width: 757px) { 
    .intro__text h1 { 
        font-size: 3.65rem; 
    }

    .intro__text h2 {
        font-size: 1.5rem; 
        margin: 0; 
    }

    .display__text { 
        right: 13.475rem; 
        font-size: 1.125rem;
    }
}

@media only screen and (max-width: 724px) {
    .intro__text p { 
        font-size: 1.1rem; 
        margin-top: 1rem; 
    }

    .display__text { 
        font-size: 1.105rem;
    }
}

@media only screen and (max-width: 681px) {
    .intro__text h1 { 
        font-size: 3.375rem; 
    }
    
    .intro__text h2 {
        font-size: 1.4rem; 
        margin: 0; 
    }

    .intro__text p { 
        font-size: 1.1rem; 
    }

    .display__text { 
        right: 12.75rem;
        font-size: 1.05rem;
    }

    .card { 
        margin: 3rem auto;
        width: 26.725rem; 
        padding: 2.5rem; 
    }

    .card-item--text h2 { 
        font-size: 1.65rem;
    }
    
    .card-item--text p { 
        font-size: 1.45rem;
    }
    
    .card-item--text .project-type { 
        font-size: 1rem;
    }
}

@media only screen and (max-width: 658px) { 
    .intro__text { 
        padding: 2.25rem 0.9375rem  2.25rem ;
    }

    .display__text { 
        right: 11.95rem;
        font-size: 1rem;
    }

    .card { 
       margin-top: 2rem;
    }
}

@media only screen and (max-width: 634px) { 
    .intro__text h1 { 
        font-size: 3.275rem; 
    }
    
    .intro__text h2 {
        font-size: 1.35rem; 
        margin: 0; 
    }

    .card { 
        margin-top: 1.75rem;
     }
} 

@media only screen and (max-width: 617px) { 
    .intro__text h1 { 
        font-size: 3.185rem; 
    }
    
    .intro__text h2 {
        font-size: 1.275rem;  
    }

    .display__text { 
        right: 11.65rem;
        font-size: .9625rem;
    }

    .card { 
        width: 24.75rem; 
    }

    .card-item--text h2 { 
        font-size: 1.625rem;
    }
    
    .card-item--text p { 
        font-size: 1.425rem;
    }
    
    .card-item--text .project-type { 
        font-size: 1.1rem;
    }
} 

@media only screen and (max-width: 601px) { 
    .intro__text h1 { 
        font-size: 3.125rem; 
    }
    
    .intro__text h2 {
        font-size: 1.235rem; 
    }

    .intro__text p { 
        margin-top: .75rem; 
    }

    .display__text { 
        right: 10.725rem;
        font-size: .96rem;
    }
} 

@media only screen and (max-width: 592px) { 
    .intro__text h1 { 
        font-size: 2.95em; 
    }
    
    .intro__text h2 {
        font-size: 1.2rem; 
    }

    .display__text { 
        right: 10.725rem;
        font-size: 1.267rem;
    }
} 

@media only screen and (max-width: 562px) { 
    .intro__text h1 { 
        font-size: 2.75em; 
    }
    
    .intro__text h2 {
        font-size: 1.185rem; 
    }

    .intro__text p { 
        font-size: .85rem; 
    }

    .display__text { 
        right: 9.85rem;
        font-size: 1.2rem;
    }

    .display__text::before { 
        width: 1.6rem; 
        height: 1px; 
        margin-top: 0.62rem; 
        margin-right: 0.62rem; 
    }

    .card { 
        width: 24rem; 
        margin-top: 1.25rem;
    }

    .card-item--text h2 { 
        font-size: 1.6rem;
    }
    
    .card-item--text p { 
        font-size: 1.375rem;
    }
    
    .card-item--text .project-type { 
        font-size: 0.825rem;
    }
} 


@media only screen and (max-width: 511px) { 
    .intro__text h1 { 
        font-size: 2.45em; 
    }

    .display__text { 
        right: 8.95rem;
        font-size: 1rem;
    }

    .display__text::before { 
        width: 1.45rem; 
        height: 1px; 
        margin-top: 0.55rem; 
        margin-right: 0.55rem; 
    }
}


@media only screen and (max-width: 479px) { 
    .intro__text h1 { 
        font-size: 2.4rem; 
    }
    
    .intro__text h2 {
        font-size: 1.15rem; 
    }

    .display__text { 
        right: 8.45rem;
        font-size: .987rem;
    }

    .card { 
        width: 23.5rem; 
    }

    .card-item--text h2 { 
        font-size: 1.425rem;
    }
    
    .card-item--text p { 
        font-size: 1.265rem;
    }
} 

@media only screen and (max-width: 468px) { 
    .intro__text { 
        padding: 2.25rem 0.9375rem 1rem;
    }
    .intro__text h1 { 
        font-size: 2.35rem; 
    }
    .intro__text h2 {
        font-size: 0.975rem; 
    }

    .display__text { 
        right: 8.25rem;
        font-size: .925rem;
    }

    .card { 
        width: 20.5rem; 
        padding: 2rem; 
    }

    .card-item--text { 
        line-height: 2.725rem; 
    }

    .card-item--text h2 { 
        font-size: 1.27rem;
    }
    
    .card-item--text p { 
         font-size: 1.23rem;
    }
}


@media only screen and (max-width: 459px) { 
    .intro__text h1 { 
        font-size: 2.2em; 
    }

    .display__text { 
        right: 7.20rem;
        font-size: .89rem;
    }
}

@media only screen and (max-width: 435px) { 
    .intro__text h1 { 
        font-size: 2.125em; 
    }

    .intro__text p { 
        margin-top: .5rem; 
        font-size: .75rem; 
    }

    .display__text::before { 
        width: 1.2rem; 
        height: 1px; 
        margin-top: 0.45rem; 
        margin-right: 0.45rem; 
    }

    .display__text { 
        right: 7.55rem;
        /* font-size: .82rem; */
    }

    .card { 
        width: 20rem;  
    }

    .card-item--text h2 { 
        font-size: 1.275rem;
    }
    
    .card-item--text p { 
        font-size: 1.125rem;
        line-height: 1.65rem; 
    }
    
    .card-item--text .project-type { 
        font-size: 0.785rem;
    }
}


@media only screen and (max-width: 420px) { 
    .intro__text h1 { 
        font-size: 2.1rem; 
    }

    .display__text { 
        right: 7.5rem;
        font-size: .77rem;
    }

    .card { 
        width: 19.525rem; 
    }
    
    .card-item--text .project-type { 
        font-size: 0.635rem;
    }
}

@media only screen and (max-width: 386px) { 
    .intro__text h1 { 
        font-size: 1.9rem; 
    }

    .intro__text h2 {
        font-size: 0.925rem; 
    }

    .intro__text p { 
        font-size: .65rem; 
    }

    .display__text { 
        right: 6.67rem;
        font-size: .73rem;
    }

    .card { 
        width: 18.925rem; 
    }

    .card-item--text h2 { 
        font-size: 1.25rem;
    }
    
    .card-item--text p { 
        font-size: 1.075rem;
    }
    
    .card-item--text .project-type { 
        font-size: 0.565rem;
        padding: 0;
    }
}

@media only screen and (max-width: 369px) { 
    .display__text { 
        right: 6.67rem;
        font-size: .68rem;
    }
    
    .card { 
        width: 18.25rem; 
    }

    .card-item--text { 
        line-height: 2rem; 
    }


    .card-item--text h2 { 
        font-size: 1.175rem;
    }
    
    .card-item--text p { 
        font-size: 1.075rem;
    }
    
    .card-item--text .project-type { 
        font-size: 0.485rem;
    }
}


@media only screen and (max-width: 355px) { 
    .intro__text h1 { 
        font-size: 1.825rem; 
    }

    .intro__text h2 {
        font-size: 0.9rem; 
    }

    .intro__text p { 
        font-size: .6rem; 
    }

    .card { 
        width: 18rem; 
    }

    .card-item--text { 
        line-height: 1.85rem; 
    }


    .card-item--text h2 { 
        font-size: 1.125rem;
    }
    
    .card-item--text p { 
        font-size: .95rem;
    }
    
    .card-item--text .project-type { 
        font-size: 0.445rem;
}
}

@media only screen and (max-width: 347px) { 
    .intro__text h1 { 
        font-size: 1.765rem; 
    }

    .intro__text h2 {
        font-size: 0.855rem; 
    }

    .intro__text p { 
        font-size: .585rem; 
    }

    .display__text { 
        right: 6rem;
        font-size: .65rem;
    }

    .card { 
        width: 17.825rem; 
    }

    .card-item--text h2 { 
        font-size: 1.1rem;
    }
    
    .card-item--text p { 
        font-size: .90rem;
    }
    
    .card-item--text .project-type { 
        font-size: 0.425rem;
}

}

@media only screen and (max-width: 334px) { 
    .intro__text h1 { 
        font-size: 1.685rem; 
    }

    .intro__text h2 {
        font-size: 0.825rem; 
    }

    .intro__text p { 
        font-size: .585rem; 
    }

    .display__text { 
        right: 5.78rem;
        font-size: .60rem;
    }

    .card { 
        width: 17.625rem; 
    }

    .card-item--text h2 { 
        font-size: .925rem;
    }
    
    .card-item--text p { 
        font-size: .85rem;
    }
    
    .card-item--text .project-type { 
        font-size: 0.395rem;
    }
}

/* Responsive Footer*/ 
@media only screen and (max-width: 952px) { 
    .social-icon { 
        height: 3.5rem; 
    }

    .footer-text { 
        font-size: .7rem; 
    } 
}


@media only screen and (max-width: 768px) { 
    .social-icon { 
        height: 2.5rem; 
    }
}

@media only screen and (max-width: 425px) { 
    .social-icon { 
        height: 2rem; 
    }

    .footer-text { 
        margin: 0.62rem  0; 
    } 
}


@media only screen and (max-width: 225px) { 
    footer .footer-list { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
