/* Global Styling */
* { 
    font-family: 'Inter'; 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;   
}

h3 { 
    font-weight: 300;
}

body { 
    background-color: #282828;
}

/* Navigation-Bar*/
header { 
    width: 100%; 
    z-index: 1;
    position: fixed; 
    top: 0; 
    background-color: #FFD90D; 
}

.nav-container { 
    text-align: center;
    border: 1px #6E0A1F solid; 
}

.nav-container img { 
    display: block;
    margin: 0 auto; 
}

.nav-container ul { 
    display: block;
    padding: 10px; 
    margin-left: auto;
    margin-right: auto; 
    font-size: 24px;
}

nav .nav-container ul > li { 
    display: inline-block; 
    margin: 0px 32px; 
}

nav .nav-container ul li a:any-link { 
    color: #000; 
    text-decoration: none;
}

 nav .nav-container ul li a:hover { 
    color: #6E0A1F; 
    text-decoration: underline;
    font-weight: 600;
}


/* Introduction */

/* section { 
    display: flex; 
    justify-content: center; 
    text-size-adjust: 100%;
} */


.intro-container { 
    position: relative; 
    top: 165px; 
    border: 2px red solid; 
    display: block; 
    width: 100%;  
    justify-content: flex-start;
    clear: both; 
} 

.intro-wrapper { 
    border: 2px #FFD90D solid; 
    justify-content: center;
    margin: 100px 0px; 
    max-width: 1265px; 
}

.intro-wrapper h1 { 
    font-size: 48px; 
    text-align: left;
    color: #FFD90D; 
    font-weight: 600;
}

.intro-wrapper h2 {
    margin: 5px 0; 
    font-size: 32px; 
    font-weight: normal; 
    text-align: left;
    color: #ffffff; 
}

.intro-wrapper p { 
    margin-top: 20px; ;
    text-align: left;
    font-size: 24px; 
}

.intro-wrapper p > span { 
    color: #FFD90D; 
}

.intro-wrapper p > strong { 
    color: #ffffff; 
    font-weight: 600;
}

div.intro-wrapper > img { 
  height: auto; 
  width: 460px; 
  border-radius: 15px;
}



/* Projects Display */
div.projects h3{ 
    margin-left: 500px;
    color: #fff;
}

div.feat-projects { 
    display: inline-block; 
}

div.feat-projects > div { 
    background-color: white; 
    width: 30px; 
    height: 1px; 
    margin: 0 auto; 
}

.projects { 
    top: 170px; 
    display: block;
    position: relative; 
    box-sizing: border-box;
    padding: 30px 0; 
    background-color: #282828; 
    border: 2px white solid; 
}

.container { 
    box-sizing: border-box;
    display: block; 
    padding: 0 20px; 
    width: 100%; 
}

.card { 
    background-color: #000;
    margin: 40px 0; 
    display: flex; 
    width: 50%; 
    margin: 40px auto; 
    border-radius: 30px; 
    padding: 40px; 
} 


.card-item--visual { 
    box-sizing: border-box;
    display: block; 
}

.card-item--text { 
    box-sizing: border-box; 
    font-size: 16px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 32px 64px; 
    line-height: 50px; 
    color: #fff; 
}

p.project-type { 
    font-weight: bold; 
}

button { 
    background-color: #FFD90D;
    color:#fff; 
    border-color: #FFD90D;  
    font-weight: 600;
    padding: 16px 32px; 
    border-radius: 10px; 
    font-size: 18px; ;
}

/* Site-Footer */
footer {
    margin: 30px 0; ; 
    top: 145px; 
    position: relative; 
}

footer.site-footer{ 
    height: 100%; 
    width: 100%;
}

div.footer-socials { 
padding: 10px ; 
}

div.footer-socials ul { 
    width: 150px; 
    margin: 0 auto; 
}

div.footer-socials ul li { 
    display: inline-block; 
    padding: 0 10px; 
}

div.footer-text { 
    text-align: center; 
    color: #fff; 
    padding: 10px 0; 
}