/* Global Styling */
* { 
    font-family: 'Inter'; 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;   
}

h3 { 
    font-weight: 300;
}

body { 
    background-color: #282828;
}

/* Navigation-Bar*/
header { 
    width: 100%; 
    z-index: 1;
    position: fixed; 
    top: 0; 
    background-color: #FFD90D; 
}

.nav-bar { 
    width: 100%;  
}

.nav-container { 
    text-align: center;
}

.nav-container ul { 
    display: inline-block;
}


ul { 
padding: 10px; 
margin-left: auto;
margin-right: auto; 
font-size: 24px; 
}

ul > li { 
    display: inline;
    margin: 0px 32px; 
}

ul li a:any-link { 
    color: #000; 
    text-decoration: none;
}

ul li a:hover { 
    color: #6E0A1F; 
    text-decoration: underline;
    font-weight: 600;
}


.nav-bar img { 
    display: block;
    margin: 0 auto; 
}


/* Introduction */ 
.intro-container {  
    width: 100%;  
    padding: 70px 200px 45px 200px; 
    position: relative; 
    top: 250px;
    left: 800px; 
}


#intro-text h1 {
    font-size: 48px; 
    text-align: left;
    color: #FFD90D; 
    font-weight: 600;
}

#intro-text h2 {
    margin: 5px 0; 
    font-size: 32px; 
    font-weight: normal; 
    text-align: left;
    color: #ffffff; 
}

#intro-text p { 
    margin-top: 20px; ;
    text-align: left;
    font-size: 24px; 
}

div > img { 
  height: auto; 
  width: 400px; 
  position: relative; 
  bottom: 350px; 
  left: 800px; 
  border-radius: 15px;
}

p > span { 
    color: #FFD90D; 
}

p > strong { 
    color: #ffffff; 
    font-weight: 600;
}

/* Projects Display */
div.projects h3 { 
    margin-left: 200px;
}

.projects { 
    top: 158px; 
    display: block;
    box-sizing: border-box;
    padding: 30px 0; 
    background-color: #efefef; 
    position: relative; 
}

.container { 
    box-sizing: border-box;
    display: block; 
    padding: 0 250px; 
    width: 100%; 
}

.card { 
    background-color: #fff;
    margin: 40px 0; 
    display: flex; 
    width: 75%; 
    margin: 40px auto; 
    border-radius: 30px; 
    padding: 40px; 
} 


.card-item--visual { 
    box-sizing: border-box;
    display: block; 
}

.card-item--text { 
    box-sizing: border-box; 
    font-size: 16px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 32px 64px; 
    line-height: 50px; 
}

p.project-type { 
    font-weight: bold; 
}

button { 
    background-color: #0093FE;
    color:#fff; 
    border-color: #0093FE; 
    font-weight: 600;
    padding: 16px 16px; 
    border-radius: 10px; 
}

/* Site-Footer */
footer {
    margin: 30px 0; ; 
    top: 145px; 
    position: relative; 
}

footer.site-footer{ 
    height: 100%; 
    width: 100%;
}

div.footer-socials { 
padding: 10px ; 
}

div.footer-socials ul { 
    width: 150px; 
    margin: 0 auto; 
}

div.footer-socials ul li { 
    display: inline-block; 
    padding: 0 10px; 
}

div.footer-text { 
    text-align: center; 
    padding: 10px 0; 
}