/* Site Stylesheet  
  1. Global Styling  
  2. Navigation Bar 
  3. Tea of the Month
  4. Locations
  5. Contact
  6. Footer
======================================== */

/* 1. Global Styling 
======================================== */
* { 
    font-family: 'Inter'; 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;   
}

body { 
    background-color: #282828;
}

/* 2. Navigation Bar 
======================================== */

body { 
    background-color: #282828;
}

/* Navigation-Bar*/
header { 
    width: 100%; 
    z-index: 1;
    position: sticky; 
    top: 0; 
    background-color: #FFD90D; 
}

.nav-container { 
    text-align: center;
    border: 1px #6E0A1F solid; 
}

.nav-container img { 
    display: block;
    margin: 0 auto; 
}

.nav-container ul { 
    display: block;
    padding: 10px; 
    margin-left: auto;
    margin-right: auto; 
    font-size: 24px;
}

nav .nav-container ul > li { 
    display: inline-block; 
    margin: 0px 32px; 
}

nav .nav-container ul li a:any-link { 
    color: #000; 
    text-decoration: none;
}

 nav .nav-container ul li a:hover { 
    color: #6E0A1F; 
    text-decoration: underline;
    font-weight: 600;
}


/* Introduction */
.intro-container { 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.intro__text { 
    margin: 100px 0px;  
}

.intro__text h1 { 
    font-size: 48px; 
    text-align: left;
    color: #FFD90D; 
    font-weight: 600;
}

.intro__text h2 {
    margin: 5px 0; 
    font-size: 32px; 
    font-weight: normal; 
    text-align: left;
    color: #ffffff; 
}

.intro__text p { 
    margin-top: 20px; ;
    text-align: left;
    font-size: 24px; 
}

.intro__text p > span { 
    color: #FFD90D; 
}

.intro__text p > strong { 
    color: #ffffff; 
    font-weight: 600;
}

.intro__img img { 
 margin: 50px 0 0 50px; 
  height: auto; 
  width: 460px; 
  border-radius: 15px;
}


/* Projects Display */
.card-container h3 { 
    color: white; 
    padding-top: 15px;
    font-weight: 100;
    text-align: center;
    margin-right: 1100px;
}

.card-container h3::before { 
    content: " "; 
    display: inline-block;
    width: 30px; 
    height: 1px; 
    vertical-align: top;
    margin-top: 11px;
    margin-right: 10px; 
    background: #fff;
}

.card-container { 
    display: block; 
    padding: 0 20px; 
    width: 100%; 
}

.card { 
    background-color: #000;
    display: flex; 
    width: 1000px; 
    margin: 40px auto; 
    border-radius: 30px; 
    padding: 40px; 
} 

.card-item--visual a > img { 
    box-sizing: border-box;
    height: auto; 
    width: 353px; 
}

.card-item--text { 
    box-sizing: border-box; 
    font-size: 16px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 32px 64px; 
    line-height: 50px; 
    color: #fff; 
    text-align: left;
}

.card-item--text div h2 { 
    font-size: 35px;
}

.card-item--text div p { 
    padding: 10px 0; 
    font-size: 26px;
    text-align: left;
    line-height: 31px; 
}

.card-item--text div p.project-type { 
    font-weight: bold; 
    font-size: 17px;
}

 .btn { 
   background-color: #FFD90D;
   color: #000; 
   text-decoration: none;
   border-radius: 8px;
   padding: 16px 32px; 
   font-weight: 600; 
} 

.btn:any-link { 
    color: black; 
    text-decoration: none;
}

.btn:hover { 
    background-color: #6E0A1F;
    color:#FFD90D; 
}

  /* Styles for Unavailable Projects */ 
div.card-unavailable .card-item--visual img, div.card-unavailable .card-item--text .btn { 
    filter: brightness(50%);
}



/* Site-Footer */
footer {
    margin: 30px 0; ; 
    top: 145px; 
    position: relative; 
}

footer.site-footer{ 
    height: 100%; 
    width: 100%;
}

div.footer-socials { 
padding: 10px ; 
}

div.footer-socials ul { 
    width: 150px; 
    margin: 0 auto; 
}

div.footer-socials ul li { 
    display: inline-block; 
    padding: 0 10px; 
}

div.footer-text { 
    text-align: center; 
    color: #fff; 
    padding: 10px 0; 
}